{% load static %}
    </div>

    </main>

    <footer class="page-footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-sm-12">
                    <h4>About This Comic</h4>
                    <p class="black-text">{{ info.about }}</p>
                </div>

                <div class="col-lg-4 col-sm-12 offset-lg-2">
                    <h4>Links</h4>
                    <ul class="no-decoration-list">
                        {% if user_logged_in %}
                        <li><a class="black-text" href="{% url 'admin:admin-panel' %}">Admin</a></li>
                        {% endif %}
                        <li><a class="black-text" href="{% url 'blog:index' %}">Blog</a></li>
                        <li><a class="black-text" href="{% url 'comic:index' %}">Comic</a></li>
                        {% if user_logged_in %}
                        <li><a class="black-text" href="{% url 'admin:logout' %}">Log Out</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
        
        <div class="footer-copyright">
            <div class="container">
                © 2018 Copyright Jonathan Lowe
            </div>
        </div>
    </footer>
</body>

</html>
