/*
 * Jonathan Lowe (jl4ge)
 * 1/3/2018
 * site_styles.scss
 * 
 * This file contains the site styles for the comic website.
 */


/*
 * Changing default values for colors
 */

// $dropdown-link-hover-color:   #000;
// $dropdown-link-active-color:  #000;
// $dropdown-link-hover-bg:      #fff;
// $dropdown-link-active-bg:     #fff;

$border-radius:      0px;
$border-radius-lg:   0px;
$border-radius-sm:   0px;

$input-border-color: black;
$input-border-width: 2px;
$input-btn-focus-width: 0px; 
$input-btn-focus-color: black;
$input-focus-border-color: black;

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
);

@import "../node_modules/bootstrap/scss/bootstrap.scss";

html {
    font-size: 14px;
}

body {
    font-family: "Courier New", Courier, monospace !important;
    font-family: "Lucida Console", Monaco, monospace !important;
    font-family: Verdana, Geneva, sans-serif !important;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    background-color: #E0E0E0;
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

header {
    border-bottom: 2px solid black;
    background-color: white;
}

label {
    margin: .5rem 0;
}

footer {
    background-color: white !important;
    border-top: 2px solid black;
}

.errorlist {
    list-style-type:none;
    padding: 0px;
    margin: 0px;
    color: $red;
}

.nav-item, .nav-item:hover {
    color: black;
    font-size: 30px;
    font-weight: 500;
    text-decoration: none;
}

.logo-container {
    padding-left: 0px !important;
}

.comic-title {
    font-size: 30px;
    padding: 0px;
    margin: 0px;
}

.comic-container {
    background-color: white;
    width: 100%;
    padding: 30px 0px;
    margin: 40px 0px 40px 0px;
    border: 2px solid black;
}

.comic {
    width: 100%;
    max-width: 3000px;
}

.comic-nav {
    margin: 10px 0px 10px 0px;

    a {
        color: black;
        padding: 5px;
    }
}

.markdown table {
    @extend .table;
    @extend .table-bordered;

    thead th {
        border-bottom: 2px solid $black;
    }

    td {
        border: 1px solid $black;
    }

    th {
        border: 1px solid $black;
    }
}

.form-btn {
    color: $black;
    margin-top: 20px;
    background-color: $white;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.login-container {
    background-color: white;
    width: 100%;
    padding: 30px 20px;
    margin: 40px 0px 40px 0px;
    border: 2px solid black;
}

.blog-nav {
    margin: 40px 0px 10px 0px;

    a {
        color: black;
        padding: 5px;
    }
}

.main-content {
    width: 90%;
    padding: 0;
}

.main-navbar .container {
    width: 90%;
    padding: 0;
}

.main-navbar .container .row {
    padding: 0;
}

.page-footer .container {
    width: 90%;
    padding: 0;
}

#logo {
    width:100%;
    max-width: 400px;
}

.blog-title {
    font-size: 30px;
    padding: 0px;
    margin: 0px;
}

.blog-meta {
    margin-bottom: 40px;
}

.blog-container {
    background-color: white;
    width: 100%;
    padding: 30px 0px;
    margin: 40px 0px 40px 0px;
    border: 2px solid black;
}

.black-text {
    color: $black;
    text-decoration: none;
}

.black-text:hover {
    color: $black;
    text-decoration: none;
}

.black-text:active {
    color: $black;
    text-decoration: none;
}

.no-decoration-list {
    list-style-type:none;
    padding: 0px;
}

.page-footer {
    padding-top: 20px;
}

.page-footer .container .row {
    padding-bottom: 20px;
}

.page-footer .footer-copyright {
    overflow: hidden;
    height: 50px;
    line-height: 50px;
    background-color: rgba(51,51,51,0.08);
}

@include media-breakpoint-up(sm) {
    .main-content {
        width: 85%;
        padding: 0;
    }
    .main-navbar .container {
        width: 85%;
        padding: 0;
    }

    .page-footer .container {
        width: 85%;
        padding: 0;
    }
}

@include media-breakpoint-up(lg) {
    .main-content {
        width: 70%;
        padding: 0;
    }

    .main-navbar .container {
        width: 70%;
        padding: 0;
    }

    .page-footer .container {
        width: 70%;
        padding: 0;
    }

    html {
        font-size: 14.5px;
    }
}

@include media-breakpoint-up(xl) {
    html {
        font-size: 15px;
    }
}