{% include "info/header.html" %}

<div class="col s12">

<div class="comic-container center-align">
    <h2 class="comic-title">{{ comic.title }}</h2>

    <img class="comic" src="{{ comic.image.url }}" alt="{{ comic.title_text }}"
         style="max-width: {{ comic.image_width }}px;" />

    <div class="comic-nav row">
        <div class="col s3 right-align"><a href="{% url 'comic:single' first %}">First</a></div>
        <div class="col s2 left-align"><a href="{% url 'comic:single' previous %}">Previous</a></div>
        <div class="col s4 right-align"><a href="{% url 'comic:single' next %}">Next</a></div>
        <div class="col s3 left-align"><a href="{% url 'comic:index' %}">Latest</a></div>
    </div>
</div>

</div> <!-- /.blog-main -->

{% include "info/footer.html" %}
