{% include "info/header.html" with site_title="Change Blog Post" %}

<div class="row">
    <div class="col-12">
        <div class="blog-container">

        <div class="container">

        <form id="add-post-form" method="post" name="add_post" class="add-post-form center-align">
            {% csrf_token %}

            <h1 class="blog-title text-center">Change Post</h1>

            {% if form.non_field_errors %}
            <div class="text-center">
                {{ form.non_field_errors }}
            </div>
            {% endif %}

            <label for="{{ form.title.id_for_label }}">{{ form.title.label }}</label>
            <input type="text" id="{{ form.title.id_for_label }}" name="{{ form.title.html_name }}" {% if form.title.value %} value="{{ form.title.value }}" {% endif %} class="form-control {% if form.title.errors %} is-invalid {% endif %}" placeholder="Title" autofocus>
            {% if form.title.errors %}<div class="invalid-feedback">{{ form.title.errors }}</div>{% endif %}

            <label for="{{ form.author.id_for_label }}">{{ form.author.label }}</label>
            <input type="text" id="{{ form.author.id_for_label }}" name="{{ form.author.html_name }}" {% if form.author.value %} value="{{ form.author.value }}" {% endif %} class="form-control {% if form.author.errors %} is-invalid {% endif %}" placeholder="Author">
            {% if form.author.errors %}<div class="invalid-feedback">{{ form.author.errors }}</div>{% endif %}

            <label for="{{ form.content.id_for_label }}">{{ form.content.label }}</label>
            <textarea id="{{ form.content.id_for_label }}" name="{{ form.content.html_name }}" class="form-control {% if form.content.errors %} is-invalid {% endif %}" placeholder="Content" rows="10">{% if form.content.value %}{{ form.content.value }}{% endif %}</textarea>
            {% if form.content.errors %}<div class="invalid-feedback">{{ form.content.errors }}</div>{% endif %}

            <button class="btn form-btn" type="submit" form="add-post-form">Change Post</button>
        </form>
        {{ form.media }}

        </div>

        </div>
    </div>
</div>

{% include "info/footer.html" %}