{% load markdown %}
{% include "info/header.html" with site_title=post.title %}

<div class="row">
    <div class="col-12">
        <div class="blog-container">

        <h1 class="blog-title text-center">{{ post.title }}</h1>
        <h6 class="blog-meta text-center">{{ post.date_published }} by {{ post.author }}</h6>

        <div class="container markdown">{{ post.content|markdown }}</div>

        <div class="blog-nav row">
            <div class="col-3 text-right"><a href="{% url 'blog:single' first %}">First</a></div>
            <div class="col-2 text-left"><a href="{% url 'blog:single' previous %}">Previous</a></div>
            <div class="col-4 text-right"><a href="{% url 'blog:single' next %}">Next</a></div>
            <div class="col-3 text-left"><a href="{% url 'blog:index' %}">Latest</a></div>
        </div>

        </div>
    </div>
</div>

{% include "info/footer.html" %}
