{% include "info/header.html" %}

<div class="row">
  <div class="col s12">

  <div class="blog-container left-align">
    <h2 class="blog-title center-align">{{ post.title }}</h2>
    <h6 class="blog-meta center-align">{{ post.date_published }} by {{ post.author }}</h6>

    <div class="container">{{ post.content|safe }}</div>

    <div class="blog-nav row">
        <div class="col s3 right-align"><a href="{% url 'blog:single' first %}">First</a></div>
        <div class="col s2 left-align"><a href="{% url 'blog:single' previous %}">Previous</a></div>
        <div class="col s4 right-align"><a href="{% url 'blog:single' next %}">Next</a></div>
        <div class="col s3 left-align"><a href="{% url 'blog:index' %}">Latest</a></div>
    </div>
  </div>

  </div>
</div>

{% include "info/footer.html" %}
